<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body ng-app='app' ng-controller='main'>

    <h2>Search</h2>
    <input type="text" ng-model="search">
    <p>{{count.length}} personnes</p>

    <table>
        <thread>
            <th>nom</th>
            <th>age</th>
            <th>address</th>
            <th>Gender</th>
        </thread>
        <tbody>
            <tr ng-repeat="user in users | filter:search | filter:query as count ">
                <td>{{user.name}}</td>
                <td>{{user.age}}</td>
                <td>{{user.address}}</td>
                <td>{{user.gender}}</td>
            </tr>
        </tbody>
    </table>


    <!--<p ng-repeat="client in clients | orderBy: '+age'">{{client.name}}, {{client.age}}</p>-->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="./app/app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</body>
</html>