<div class="container-fluid" >
    <div class="row">
        <div class="col-md-6" ng-controller="cartoCtrl">
            <leaflet center="san_fran" markers="markers" event-broadcast="events" defaults="defaults" id='map' width="640px" height="480px"></leaflet>
        </div>
        <div class="col-md-6"></div>
    </div>
</div>


<canvas id="line" class="chart chart-line" chart-data="data"
        chart-labels="labels" chart-series="series" chart-options="options"
        chart-dataset-override="datasetOverride" chart-click="onClick"
</canvas>