<div class="container-fluid">
    <div class="row">
        <div class="col-md-6" ng-controller="cartoAllUsersCtrl">
            <leaflet lf-center="map" markers="markers" height="480px" width="100%"></leaflet>
        </div>
        <div class="col-md-6">
            <canvas id="line" class="chart chart-line" chart-data="data"
                    chart-labels="labels" chart-series="series" chart-options="options"
                    chart-dataset-override="datasetOverride" chart-click="onClick"
            </canvas>
        </div>
    </div>
</div>
